<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.android" >

    <application
        android:name=".modern.configuration.Application_"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".modern.app.view.MainActivity_"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Startup listeners section -->
        <receiver
            android:name=".modern.configuration.startup.SampleStartupReceiver"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="org.android.APPLICATION_STARTUP_BROADCAST_ACTION" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".modern.configuration.startup.SampleStartupReceiver2"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="org.android.APPLICATION_STARTUP_BROADCAST_ACTION" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".modern.configuration.objectstore.CouchbaseStartupInitializer_"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="org.android.APPLICATION_STARTUP_BROADCAST_ACTION" />
            </intent-filter>
        </receiver>
        <!-- Startup listeners section -->
    </application>

</manifest>
